:root {
  font-family: Inter, system-ui, sans-serif;
  color: #213547;
  background: #f5f7fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

p {
  margin: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  font: inherit;
}
